body {
    background-color: black;
    color: white;
}

.container {
    background-color: #363636;
    border-radius: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 88vw;
    height: 77vh;
    padding: 3.5vw;
    display: flex;
}

#modal {
    z-index: 1;
    flex-direction: column;
}

.header {
    font-size: 3vw;
    border-bottom: 0.3vw solid white;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.play {
    border: 0.3vw solid white;
    color: white;
    border-radius: 0.7vw;
    background-color: transparent;
    width: 10vw;
    font-size: 2vw;
    margin-top: -0.5vw;
    position: relative;
    bottom: 0.5vw;
    cursor: pointer;
}

.para {
    font-size: 1.7vw;
    margin-top: 1vw;
    margin-left: 5vw;
    text-align: left;
}

.pt {
    border-bottom: 0.2vw solid white;
    font-size: 2vw;
    margin-left: 3vw;
    margin-top: 3vw;
}

#hints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(25vh - 10vw);
}

.hint {
    display: flex;
    gap: 0.2vw;
    font-size: 4vw;
    min-height: 7vw;
    max-height: 15vw;
}

.hint .digit {
    width: 3vw;
    font-size: 5vw;
    cursor: default;
}

.hint .digit::placeholder {
    font-size: 5vw;
}

.text {
    font-size: 1.5vw;
    margin: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 1vw;
    border-left: 0.3vw solid white;
}

#right .header {
    width: 95%;
    margin-left: auto;
}

#lock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vw;
}

#code {
    display: flex;
    gap: 0.3vw;
    font-size: 7vw;
    height: 50%;
    position: relative;
    max-height: 15vw;
}

.digit {
    border: 0.3vw solid white;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    font-size: 7vw;
    background-color: transparent;
    color: white;
    outline: none;
    caret-color: transparent;
}

.digit::placeholder {
    font-size: 7vw;
}

#code .digit:focus {
    background-color: blue;
}

.level {
    font-size: 3vw;
    margin-bottom: 1vw;
}

.hs {
    font-size: 2vw;
    margin-bottom: 1vw;
}

#note {
    font-size: 1.5vw;
    margin-top: 1vw;
    animation: slide 0.3s ease-out forwards;
}

#background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}

#death {
    background-color: #363636;
    border-radius: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 44vh;
    padding: 3.5vw;
}

#wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2vw solid white;
    margin-bottom: 2vw;
}

#death .hs, #death .level {
    margin-left: 5vw;
    font-size: 1.8vw;
}

#death .pt {
    font-size: 2.5vw;
    border: none;
}

#death .play {
    height: 3.7vw;
    width: 12vw;
    font-size: 1.2vw;
    top: 2.5vw;
    margin-right: 3.5vw;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}