body {
    background-color: black;
    color: white;
}

#container {
    background-color: #363636;
    border-radius: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 88vw;
    height: 77vh;
    padding: 2vw;
    display: flex;
}

#hints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(25vh - 10vw);
}

.hint {
    display: flex;
    gap: 0.2vw;
    font-size: 4vw;
    min-height: 7vw;
    max-height: 15vw;
}

.hint .digit {
    width: 3vw;
    font-size: 5vw;
    cursor: default;
}

.hint .digit::placeholder {
    font-size: 5vw;
}

.text {
    font-size: 1.5vw;
    margin: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1vw;
    border-left: 0.3vw solid white;
}

#header {
    font-size: 3vw;
    border-bottom: 0.3vw solid white;
    height: 4vw;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#lock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vw;
}

#code {
    display: flex;
    gap: 0.3vw;
    font-size: 7vw;
    height: 70%;
    position: relative;
    max-height: 15vw;
}

#note {
    margin-top: -1vw;
    font-size: 1.5vw;
}

.digit {
    border: 0.3vw solid white;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    font-size: 7vw;
    background-color: transparent;
    color: white;
    outline: none;
    caret-color: transparent;
}

.digit::placeholder {
    font-size: 7vw;
}

.digit:focus {
    background-color: blue;
}