body {
    background-color: #1e1e2f;
    color: #e7e7e7;
    font-family: "Jersey 15", serif;
}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #1e1e2f;
    z-index: 1;
    margin-left: -1vw;
}

#modal, #container {
    background-color: #33334d;
    border-radius: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 88vw;
    height: 77vh;
    padding: 3.5vw;
    display: flex;
    overflow: scroll;
}

#modal {
    z-index: 1;
    flex-direction: column;
}

.header {
    font-size: 4vw;
    border-bottom: 0.3vw solid #66ff99;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.play {
    border: 0.3vw solid #66ff99;
    color: #66ff99;
    border-radius: 0.7vw;
    background-color: transparent;
    width: 10vw;
    font-size: 2.2vw;
    position: relative;
    bottom: 0.5vw;
    cursor: pointer;
}

.bt {
    font-family: "Jersey 15", serif;
}

.para {
    font-size: 1.7vw;
    margin-top: 1vw;
    margin-left: 5vw;
    text-align: left;
}

.pt {
    border-bottom: 0.2vw solid #66ff99;
    font-size: 2vw;
    margin-left: 3vw;
    margin-top: 3vw;
}

#hints {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hint {
    display: flex;
    gap: 0.2vw;
    font-size: 4vw;
    min-height: 7vw;
    max-height: 15vw;
}

.hint .digit {
    width: 3vw;
    font-size: 5.7vw;
    cursor: default;
}

.text {
    font-size: 2vw;
    margin: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 1vw;
    border-left: 0.3vw solid #66ff99;
}

#right .header {
    width: 95%;
    margin-left: auto;
}

#health {
    position: relative;
    bottom: 0.2vw;
}

#lock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vw;
}

#code {
    display: flex;
    gap: 0.3vw;
    font-size: 7vw;
    height: 50%;
    position: relative;
    max-height: 15vw;
}

.digit {
    border: 0.3vw solid #3fb666;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    font-size: 7vw;
    background-color: transparent;
    color: #66ff99;
    outline: none;
    caret-color: transparent;
    font-family: "Jersey 15", serif;
    text-align: center;
}

.digit::placeholder {
    font-size: 7vw;
    color: #67da8d;
}

#code .digit:focus {
    background-color: #5c5389;
}

.level {
    font-size: 3vw;
    margin-bottom: 1vw;
}

.hs {
    font-size: 2vw;
    margin-bottom: 1vw;
}

#note {
    font-size: 1.5vw;
    margin-top: 1vw;
    animation: slide 0.3s ease-out forwards;
}

#background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 47, 0.7);
    z-index: 2;
    display: none;
}

#death {
    background-color: #33334d;
    border-radius: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    padding: 3.5vw;
    height: auto;
}

#wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2vw solid #66ff99;
    margin-bottom: 2vw;
}

#death .hs, #death .level {
    margin-left: 5vw;
    font-size: 2.2vw;
}

#death .pt {
    font-size: 3.5vw;
    border: none;
}

#death .play {
    height: 3.7vw;
    width: 12vw;
    font-size: 1.8vw;
    top: 2.5vw;
    margin-right: 3.5vw;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {
    #container {
        flex-direction: column;
        height: auto;
        padding: 5vw 0;
        padding-top: 3.5vw;
    }

    #modal {
        height: auto;
        width: 80%;
    }

    #hints {
        order: 2;
        margin-top: 3vw;
        width: 100%;
        max-width: 85%;
        margin-left: auto;
        position: relative;
        top: 0;
        transform: none;
    }

    #right {
        order: 1;
        border-left: none;
        border-bottom: 0.3vw solid #66ff99;
        width: 90%;
        margin-left: 5%;
        position: relative;
        top: -2vw;
        padding-bottom: 4vw;
    }

    #right .header {
        margin-top: 2vw;
        font-size: 3.5vw;
        width: 100%;
    }

    .digit {
        font-size: 6vw;
    }

    .level, .hs {
        font-size: 2.5vw;
    }

    .play {
        font-size: 2.2vw;
    }
}

@media only screen and (min-height: 678px) {
    #container {
        overflow: hidden;
    }

    #hints {
        max-height: 85%;
    }
}

@media only screen and (min-height: 943px) {
    #hints {
        max-height: 70%;
    }
}

/* 
@media only screen and (max-width: 1800px) and (min-width: 1402px) {
    #health {
        bottom: 0.2vw;
    }
} */